@model RequestViewModel

@{
    ViewData["Title"] = "Edit";
    //Layout = null;
}

<hr />
<div class="row orderForm">

    <form asp-action="Edit" asp-controller="Housings" role="form" enctype="multipart/form-data">
        <div class="col-md-12">
            <h3 class="col-md-offset-2">Edit Housings @Model.Request.ID</h3>
            <div asp-validation-summary="All" class="text-danger"></div>


            <input type="hidden" asp-for="Request.Housings[0].RequestID" />
            <input type="hidden" asp-for="Request.Housings[0].ID" />
            <input type="hidden" asp-for="Request.FileName" />

            @await Html.PartialAsync("ManagerControls", Model)

            <div class="form-group col-md-6 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <label asp-for="Request.Housings[0].LoanStartDate" class=" control-label"></label>
                <div class="col-md-12 input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type="text" asp-for="Request.Housings[0].LoanStartDate" id="dpDateNow" class="form-control " />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>


            <div class="form-group col-md-12">
                <label asp-for="Request.Housings[0].Description" class="control-label "></label>
                <textarea asp-for="Request.Housings[0].Description" class="form-control">
                </textarea>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Request.FileName" class="control-label  "></label>

                @*<input type="file" name="file" />*@
                <input asp-for="file" class="form-control" type="file" />
                <span asp-validation-for="Request.FileName" class="text-danger"></span>


            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <a asp-action="Index" asp-controller="Housings" class="btn btn-danger">Back to List</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>


        </div>
    </form>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
