@model EfCoreGenericRepository.Models.Request

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestTypeID" class="control-label"></label>
                <select asp-for="RequestTypeID" class ="form-control" asp-items="ViewBag.RequestTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusID" class="control-label"></label>
                <input asp-for="StatusID" class="form-control" />
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelegate" class="control-label"></label>
                <input asp-for="IsDelegate" class="form-control" />
                <span asp-validation-for="IsDelegate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelegateApprove" class="control-label"></label>
                <input asp-for="IsDelegateApprove" class="form-control" />
                <span asp-validation-for="IsDelegateApprove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelegateFromID" class="control-label"></label>
                <input asp-for="DelegateFromID" class="form-control" />
                <span asp-validation-for="DelegateFromID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelegateToID" class="control-label"></label>
                <input asp-for="DelegateToID" class="form-control" />
                <span asp-validation-for="DelegateToID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

