@model  AmendmentViewModel

<div class="row">

    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="me" name="optradio" value="option1" checked>Me
        </label>
    </div>

    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="Employee" name="optradio" value="option2">Employee
        </label>
    </div> 

    <div class="col-md-4">
        @Html.DropDownListFor(m => m.request.EmployeeID,
                               new SelectList(Model.employeeInfos.Select(x => new { Value = x.EmployeeID, Text = x.ArabicName }), "Value", "Text"), "Select an author",
                               htmlAttributes: new { @class = "form-control border-input" })
        <span asp-validation-for="request.Amendments" class="text-danger"></span>
    </div>
 


</div>
