

@*<div class="form-group">
    <label asp-for="Author.Name" class="col-md-2 control-label"></label>
    <div class="col-md-6">
        <input asp-for="Author.Name" class="form-control" placeholder="Enter authors name" />
        <span asp-validation-for="Author.Name" class="text-danger"></span>
    </div>
</div>*@