@model RequestViewModel

@{
    ViewData["Title"] = "Create";
} 

<hr />
<div class="row orderForm">
    <form asp-controller="Amendments" asp-action="Create" method="post" class="form-horizontal" role="form">
        <div class="col-md-12">
            <h3 class="col-md-offset-2">Create new Amendment</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@Html.HiddenFor(m => Model.Request.RequestTypeID)*@

            <div class=" col-md-offset-2 col-md-10">
                @await Html.PartialAsync("ManagerControls", Model)
            </div>

            <div class="form-group">
                <label asp-for="Amendment.Type" class="control-label col-md-2 "></label>
                <div class="col-md-6">
                    <span asp-validation-for="Amendment.Type" class="text-danger"></span>
                    Check In:   @Html.RadioButton("Type", "CheckIn")

                    Check Out: @Html.RadioButton("Type", "CheckOut")
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Amendment.AmendmentReasonId" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <select asp-for="Amendment.AmendmentReasonId" class="form-control" asp-items="ViewBag.AmendmentReasonId"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Amendment.MonthYear" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Amendment.MonthYear" class="form-control" />
                    <span asp-validation-for="Amendment.MonthYear" class="text-danger"></span>
                </div>
            </div>
         
            <div class="form-group">
                <label asp-for="Amendment.MonthDate" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Amendment.MonthDate" class="form-control" />
                    <span asp-validation-for="Amendment.MonthDate" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Amendment.MonthDay" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Amendment.MonthDay" class="form-control" />
                    <span asp-validation-for="Amendment.MonthDay" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Amendment.Description" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <textarea asp-for="Amendment.Description" class="form-control">
                </textarea>
                    <span asp-validation-for="Amendment.Description" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Amendment.FilePath" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Amendment.FilePath" class="form-control" />
                    <span asp-validation-for="Amendment.FilePath" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <input class="btn btn-default" type="submit" value="Return" asp-controller="Amendments" asp-action="index" />
                    <input class="btn btn-success" type="submit" value="Create" asp-controller="Amendments" asp-action="Create" />
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
