@model   AmendmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Amendment</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("ManagerControls", Model)
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="amendment.Type" class="control-label"></label>
                @*<input asp-for="Type" class="form-control" />*@
                <span asp-validation-for="amendment.Type" class="text-danger"></span>

                Check In:   @Html.RadioButton("Type", "CheckIn")

                Check Out: @Html.RadioButton("Type", "CheckOut")

            </div>
            <div class="form-group">
                <label asp-for="amendment.AmendmentReasonId" class="control-label"></label>
                <select asp-for="amendment.AmendmentReasonId" class="form-control" asp-items="ViewBag.AmendmentReasonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="amendment.MonthYear" class="control-label"></label>
                <input asp-for="amendment.MonthYear" class="form-control" />
                <span asp-validation-for="amendment.MonthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amendment.MonthDate" class="control-label"></label>
                <input asp-for="amendment.MonthDate" class="form-control" />
                <span asp-validation-for="amendment.MonthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amendment.MonthDay" class="control-label"></label>
                <input asp-for="amendment.MonthDay" class="form-control" />
                <span asp-validation-for="amendment.MonthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amendment.Description" class="control-label"></label>
                <textarea asp-for="amendment.Description" class="form-control">
                    </textarea>
                <span asp-validation-for="amendment.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="amendment.FilePath" class="control-label"></label>
                <input asp-for="amendment.FilePath" class="form-control" />
                <span asp-validation-for="amendment.FilePath" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
