@model RequestViewModel

@{
    ViewData["Title"] = "Create";
}

<hr />
 

    <form asp-controller="Amendments" asp-action="Create" method="post" role="form" enctype="multipart/form-data">
        <div class="col-md-12">
            <h3 class="col-md-offset-2">Create new Amendment</h3>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Request.RequestTypeID" />
            <input type="hidden" asp-for="Request.StatusID" />
            <input type="hidden" asp-for="Request.CreatedBy" />


            @await Html.PartialAsync("ManagerControls", Model)


            <div class="form-group col-md-6 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <label asp-for="Request.Amendments[0].SelectDate" class="control-label"></label>
                <div class="input-group  col-md-12">
                    <input type="text" asp-for="Request.Amendments[0].SelectDate" id="dpDateNow" class="form-control "
                           cssClass="input-validation-error" data-val="true" value=@ViewBag.Date />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 timepicker">
                <label asp-for="Request.Amendments[0].Time" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Request.Amendments[0].Time" class="form-control" id="timepicker1" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>


            <div class="form-group col-md-6">
                <label asp-for="Request.Amendments[0].Type" class="control-label col-md-12"></label>
                <div class="form-group col-md-6">
                    <div class="radio-inline">
                        <input type="radio" asp-for="Request.Amendments[0].Type" value="CheckIn" />
                        <label id="labelID" runat="server" for="">Check In</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" asp-for="Request.Amendments[0].Type" value="CheckOut" />
                        <label id="ckout" runat="server" for="check_out">Check Out</label>
                    </div>
                </div>
            </div>


            <div class="form-group col-md-6">
                <label asp-for="Request.Amendments[0].AmendmentReason" class="control-label"></label>
                <select asp-for="Request.Amendments[0].AmendmentReasonId" class="form-control" asp-items="ViewBag.AmendmentReasonId"></select>
            </div>


            <div class="form-group col-md-12">
                <label asp-for="Request.Amendments[0].Description" class="control-label "></label>
                <textarea asp-for="Request.Amendments[0].Description" class="form-control">
                </textarea>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Request.FileName" class="control-label "></label>
                <input asp-for="file" class="form-control" type="file" />
            </div>


            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <a asp-action="Index" asp-controller="Amendments" class="btn btn-default">Return</a>
                    <input class="btn btn-success" type="submit" value="Create" asp-controller="Amendments" asp-action="Create" />
                </div>
            </div>
        </div>


</form>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

