@model Portal.Areas.Order.Data.Model.Amendment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Amendment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DocumentID" class="control-label"></label>
                <input asp-for="DocumentID" class="form-control" />
                <span asp-validation-for="DocumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestID" class="control-label"></label>
                <select asp-for="RequestID" class="form-control" asp-items="ViewBag.RequestID"></select>
                <span asp-validation-for="RequestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmendmentReasonId" class="control-label"></label>
                <select asp-for="AmendmentReasonId" class="form-control" asp-items="ViewBag.AmendmentReasonId"></select>
                <span asp-validation-for="AmendmentReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthYear" class="control-label"></label>
                <input asp-for="MonthYear" class="form-control" />
                <span asp-validation-for="MonthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthDate" class="control-label"></label>
                <input asp-for="MonthDate" class="form-control" />
                <span asp-validation-for="MonthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthDay" class="control-label"></label>
                <input asp-for="MonthDay" class="form-control" />
                <span asp-validation-for="MonthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
